@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue: #1677ff;
    --dark-blue: #0a3b80;
    --light-blue: #9cc9ff;
    --dark-grey: #42464a;
}

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 90px;
    font-family: "DM Serif Display", serif;
    font-weight: 900;
    background: -webkit-linear-gradient(70deg, var(--light-blue), var(--dark-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 30px;
    color: var(--dark-blue);
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

.component-header {
    font-size: 30px !important;
    color: var(--dark-blue) !important;
}